<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back-outline"
        defaultHref="/tabs/tab3"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">Informace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="photo">
  <ion-card>
    <img [src]="photo.webviewPath" />
    <ion-card-header>
      <ion-card-title class="centered-card-title"
        >{{ photo.name }}</ion-card-title
      >
      <ion-card-subtitle class="centered-subtitle"
        >{{ photo.place }}</ion-card-subtitle
      >
      <ion-card-content class="card-text"
        >{{photo.wikipediaSummary}}</ion-card-content
      >
    </ion-card-header>
  </ion-card>
</ion-content>
