ion-tab-bar {
  --background: #e76522; /* Background color for the tab bar (orange) */
}

ion-tab-button {
  --color: #264653; /* Icon color for the selected tab (orange) */
}

ion-icon {
  color: #264653 !important;
}

ion-tab-button:active {
  --color: #264653; /* Active color (white) */
  --ripple-color: #264653; /* Ripple effect color when clicked (light gray) */
}
