<ion-content class="ion-padding">
  <ion-button
    (click)="addPhotoToGallery()"
    class="centered-button"
    fill="solid"
  >
    <ion-icon name="camera"></ion-icon
  ></ion-button>
</ion-content>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input
    [(ngModel)]="katedra"
    label="Department abbreviation"
    label-placement="floating"
    fill="solid"
    placeholder="Enter text"
  ></ion-input>

  <ion-button expand="block" (click)="btnSearchClicked()">Search</ion-button>

  <ion-list>
    <ion-item *ngFor="let item of data" (click)="goToDetail(item)">
      <ion-label>{{ item.nazev }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
-->
