ion-content {
  position: relative;
  --ion-background-color: #63d667; /* Light green background color for the page */
}

.centered-button {
  position: absolute;
  top: 30%; /* 20% from the top */
  bottom: 30%; /* 20% from the bottom */
  left: 20%; /* 10% from the left */
  right: 20%; /* 10% from the right */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none; /* Remove default border */
  border-radius: 50%; /* Optional: rounded corners */
}

ion-icon {
  font-size: 160px; /* Adjust the icon size */
  color: #ec944c;
}
